
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-cloud-upload:before {
	content: "\e600";
    font-size: 100px;
    margin-left: 30px;
    display: inline-block;
    float: left;
}
.icon-download:before {
	content: "\e601";
}


body {
  padding: 50px;
  background-color: #2B3A42;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#dropbox {
    padding: 35px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    background-color: #BDD4DE;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border-style: solid;
    border-color: #3F5765;
}

.drophover {
    background-color: #CDD9DE;
    box-shadow: 0px 0px 5px 6px #222222;
}


#info {
    margin-top: 120px;
    color: #FF530D;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

#info h1 {
    display: inline;
    font-size: 32px;
    margin-right: 30px;
}

#link {
    display: inline;
    font-size: 28px;
    background-color: #EFEFEF;
    -moz-border-radius: 5px;
    border-radius: 5px;
}


a {
  color: #00B7FF;
}
