extends layout

block content
  div#dropbox
      span(aria-hidden="true").icon-cloud-upload
      div
        h1 drop your stuff here!
        p a link will be generated for you to share

  div#info
      h1 link:
      input#link
